.content_welcome {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.linea_separador {
    width: 250px;
    margin: 10px auto;
    height: 3px;
    background: var(--primary-color);
    border-style: none;
}

.welcome_title {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 0.3em;
    font-weight: 400;
}

.welcome_text {
    font-size: 17px;
    padding: 0.5em;
    color: #2a2a2a;
}

.welcome_link {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid #eead31;
    font-size: 20px;
    padding: 0.5em;
    width: 150px;
    margin: 20px auto;
}
.welcome_link:hover {
    background: rgba(0,0,0,0.3);
}
